.messages-container {
  flex-grow: 1;
  overflow: auto;
}

.messages-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.MuiListItem-root {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.messages-list > * .MuiChip-root {
  background-color: rgb(245, 198, 111) !important;
}

.messages-container > * .MuiTypography-root {
  font-size: 0.7rem !important;
}

.current {
  text-align: right !important;
}

.current > * .MuiChip-root {
  background-color: rgb(169, 169, 252) !important;
}
