.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-main {
  display: flex;
  border-left: solid;
  height: 90%;
}

.chat {
  width: 100%;
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
}
